
/* css重置开始 */
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;/*去掉登录下面的下滑写*/
}
img{
    border: 0;
}
li{
    list-style: none;
}
/* css重置结束 */


.wrapper{
    width: 1140px;
    height: 100%;
    /*background: #cccccc;*/
    margin: 0 auto;
}
#header{
    background: url("../img/banner33.jpg")no-repeat center center;
    height: 300px;

}
