
/* css重置开始 */
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;/*去掉登录下面的下滑写*/
}
img{
    border: 0;
}
li{
    list-style: none;
}
/* css重置结束 */


.wrapper{
    width: 1140px;
    height: 100%;
    /*background: #cccccc;*/
    margin: 0 auto;
}
#header{
    background: url("../img/banner33.jpg")no-repeat center center;
    height: 300px;

}
/*footer开始*/
#footer{
    margin-top: 944px;
    background: hotpink;
    height: 82px;
    line-height: 82px;
}
#footer h3,#footer h4{
    color: #ffffff;
}
#footer h3{
    float: left;
}
#footer h4{
    float: right;
}

/*footer结束*/