/*main-header 开始*/
/*******************************************************************************************/

#header a{
    color: #ffffff;
}
#login, #header h1{
    color: #fff;
    width: 380px;
}
#cart.float{
    width: 200px;
    height: 30px;
    background: grey;
    opacity: 0.5;/*透明度取值范围0-1*/
    filter: alpha(opacity=50);/*ie下透明度取值范围0-100*/
    color: #ffffff;
    text-align: center;/*文字居中*/
    padding: 10px 10px;
    cursor: pointer;/*光标 鼠标变成小手*/
    margin-top: 25px;
    line-height: 0;
    float: left;
}

#header #cart.float{
    float: right;
}

#header img{
    vertical-align: middle;/*设置图片*/
}
#header .float{
    float: left;
}
#header h1.float{
    text-align: center;
}
#main-header{
    height: 100px;
    line-height: 100px;
    position: relative;
}

#login a:hover{
    text-decoration: underline;
}
#main-header p{
    color: #fff;
    position: absolute;
    right: 70px;
    top: 75px;
    height: 25px;
    line-height: 25px;
}
/*******************************************************************************************/
/*main-header 结束*/

/*nav begin*/
/*******************************************************************************************/
#nav li{
    float: left;
    width: 190px;
    background: #fa558f;
    height: 40px;
    text-align: center;
    line-height: 40px;

}
#nav li:hover{
    background: #3c3b3b;
}
#nav a{
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: block;
}
#nav .selected{
    background: #3c3b3b;
}
.submenu{
    width: 1140px;
    height: 300px;
    background: #ffffff;
    display: none;
}

#nav .makeup-shop:hover .submenu{
    display: block;

}
.submenu.one{
    margin-left: -190px;
}
.submenu.two{
    margin-left: -380px;
}
.submenu.three{
    margin-left: -570px;
}
.submenu.four{
    margin-left: -760px;
}
.submenu.five{
    margin-left: -950px;
}
/*******************************************************************************************/
/*nav over*/
#enroll h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
#enroll-way{
    float: left;
    width: 600px;;
}
#enroll #needs{
    color: #999;
}
#needs a{
    color: #000000;
}
#enroll #needs{
    margin-bottom: 20px;
}
#enroll form p{
    margin-bottom: 20px;
}
#enroll-way label span{
    width: 150px;
    float: left;
    color: #5d5959;
}
#enroll-way input{
    width: 400px;
    height: 38px;
    outline: none;
    text-indent: 10px;
}
#enroll-way input[type="submit"]{
    width: 555px;
    height: 41px;
    background: #EF8743;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
#enroll-need h3{
    color: #EF8743;
    margin-top: 20px;
    margin-bottom: 20px;
}
#enroll-need p{
    color: #999;
}





/*footer开始*/
#footer{
    margin-top: 220px;
    background: hotpink;
    height: 82px;
    line-height: 82px;
}
#footer h3,#footer h4{
    color: #ffffff;
}
#footer h3{
    float: left;
}
#footer h4{
    float: right;
}

/*footer结束*/