/*main-header 开始*/
/*******************************************************************************************/
#header{
    background: url("../img/banner.jpg")no-repeat center center;
    height: 600px;

}
#login, #header h1{
    color: #fff;
    width: 380px;
}
#cart.float{
    width: 200px;
    height: 30px;
    background: grey;
    opacity: 0.5;/*透明度取值范围0-1*/
    filter: alpha(opacity=50);/*ie下透明度取值范围0-100*/
    color: #ffffff;
    text-align: center;/*文字居中*/
    padding: 10px 10px;
    cursor: pointer;/*光标 鼠标变成小手*/
    margin-top: 25px;
    line-height: 0;
    float: left;
}

#header #cart.float{
    float: right;
}

#header img{
    vertical-align: middle;/*设置图片*/
}
#header .float{
    float: left;
}
#header h1.float{
    text-align: center;
}
#main-header{
    height: 100px;
    line-height: 100px;
    position: relative;
}

#login a:hover{
    text-decoration: underline;
}
#main-header p{
    color: #ffffff;
    position: absolute;
    right: 70px;
    top: 33px;
    height: 30px;
}
/*******************************************************************************************/
/*main-header 结束*/

/*1*/
/*1*/
/*1*/
/*1*/
/*1*/
/*1*/
/*1*/

/*nav begin*/
/*******************************************************************************************/
#nav li{
    float: left;
    width: 190px;
    background: #fa558f;
    height: 40px;
    text-align: center;
    line-height: 40px;

}
#nav li:hover{
    background: #3c3b3b;
}
#nav a{
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: block;
}
#nav .selected{
    background: #3c3b3b;
}
.submenu{
    width: 1140px;
    height: 300px;
    background: #ffffff;
    display: none;
}

#nav .makeup-shop:hover .submenu{
    display: block;

}
.submenu.one{
    margin-left: -190px;
}
.submenu.two{
    margin-left: -380px;
}
.submenu.three{
    margin-left: -570px;
}
.submenu.four{
    margin-left: -760px;
}
.submenu.five{
    margin-left: -950px;
}
/*******************************************************************************************/
/*nav over*/

/*1*/
/*1*/
/*1*/
/*1*/
/*1*/
/*1*/
/*1*/

/*new-product开始*/
/*******************************************************************************************/
#new-product{
    margin-top: 56px;
    height: 266px;
}
#new-product .sale{
    background-repeat:  no-repeat;
    width: 360px;
    height: 210px;
    float: left;
    margin-right: 30px;
}
#new-product .bg1{
    background-image: url(../img/bg1.jpg);
}
#new-product .bg2{
    background-image: url(../img/bg2.jpg);
}#new-product .bg3{
     background-image: url(../img/bg3.jpg);
     margin-right: 0;
 }
 #new-product h2{
     color: #ffffff;
     margin-top: 150px;
     margin-left: 200px;
     font-size: 200%;
 }

/*******************************************************************************************/
/*new-product结束*/

/*1*/
/*1*/
/*1*/
/*1*/
/*1*/
/*1*/
/*1*/

/*products开始*/
/*******************************************************************************************/
#product{
    height: 1000px;
}
.products-info{
    width: 340px;
    height: 440px;
    border: 1px solid #cccccc;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}

.products-info img{
    width: 248px;
    height: 248px;
    border: 1px solid #cccccc;
    position: relative;
}
.new{
    background: #fa558f;
    color: #fff;
    float: left;
    position: absolute;
}
#products .products-detail{
    margin-left: 20px;

}
#products .products-detail h3{
    margin-top: 10px;
}
#products input{
    width: 150px;
    height: 30px;
    text-indent: 10px;
}
#products button{
    background: orange;
    width: 150px;
    height: 40px;
    color: #ffffff;
    font-size: 120%;
    margin-top: 5px;
    border: 0;
}

/*******************************************************************************************/
/*products开始*/

/*problem开始*/
/*******************************************************************************************/
#problem{
    height: 400px;
    background: url(../img/banner2.jpg) no-repeat center;
    margin-top: 1000px;
}
#problem .wrapper{
    width: 1000px;
}
.problem-menu{
    padding-left: 40px;
    float: left;
    margin-right: 40px;
    margin-top: 100px;
}
.problem-menu li{
    color: #ffffff;
    list-style: disc;
}
.problem-menu li a{
    color: #fff;
}
/*.problem-menu li a:hover{*/
    /*text-decoration: underline;*/
/*}*/
.menu-bold{
    font-weight: bolder;
}

/*******************************************************************************************/
/*problem结束*/

/*footer开始*/
#footer{
    background: hotpink;
    height: 82px;
    line-height: 82px;
}
#footer h3,#footer h4{
    color: #ffffff;
}
#footer h3{
    float: left;
}
#footer h4{
    float: right;
}

/*footer结束*/