/*main-header 开始*/
/*******************************************************************************************/

#header a{
    color: #ffffff;
}
#login, #header h1{
    color: #fff;
    width: 380px;
}
#cart.float{
    width: 200px;
    height: 30px;
    background: grey;
    opacity: 0.5;/*透明度取值范围0-1*/
    filter: alpha(opacity=50);/*ie下透明度取值范围0-100*/
    color: #ffffff;
    text-align: center;/*文字居中*/
    padding: 10px 10px;
    cursor: pointer;/*光标 鼠标变成小手*/
    margin-top: 25px;
    line-height: 0;
    float: left;
}

#header #cart.float{
    float: right;
}

#header img{
    vertical-align: middle;/*设置图片*/
}
#header .float{
    float: left;
}
#header h1.float{
    text-align: center;
}
#main-header{
    height: 100px;
    line-height: 100px;
    position: relative;
}

#login a:hover{
    text-decoration: underline;
}
#main-header p{
    color: #fff;
    position: absolute;
    right: 70px;
    top: 75px;
    height: 25px;
    line-height: 25px;
}
/*******************************************************************************************/
/*main-header 结束*/

/*nav begin*/
/*******************************************************************************************/
#nav li{
    float: left;
    width: 190px;
    background: #fa558f;
    height: 40px;
    text-align: center;
    line-height: 40px;

}
#nav li:hover{
    background: #3c3b3b;
}
#nav a{
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: block;
}
#nav .selected{
    background: #3c3b3b;
}
.submenu{
    width: 1140px;
    height: 300px;
    background: #ffffff;
    display: none;
}

#nav .makeup-shop:hover .submenu{
    display: block;

}
.submenu.one{
    margin-left: -190px;
}
.submenu.two{
    margin-left: -380px;
}
.submenu.three{
    margin-left: -570px;
}
.submenu.four{
    margin-left: -760px;
}
.submenu.five{
    margin-left: -950px;
}
/*******************************************************************************************/
/*nav over*/


/*enter开始*/
#enter{
    margin-top: 30px;
    height: 350px;
}
#enter h2{
    margin-bottom: 20px;
}
#enter form{
    width: 570px;
    height: 290px;
    float: left;
}
#enter h5{
    color: #5d5959;
    font-size: 20px;
}
#enter label input{
    width: 400px;
    height: 38px;
    margin-bottom: 25px;
    text-indent: 10px;
    font-size:20px;
    outline: none;
}
#enter .btn[value="login"]{
    width: 114px;
    height: 41px;
    background: #EF8743;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius:10px;
    margin-bottom: 20px;
    border: 0;
}
#enter .btn:hover{
    background: #ffffff;
    border-color: #000000;
    color: #000000;
    border: 1px solid;
}
#enter a#forget{
    color: #5d5959;
    text-decoration: underline;
}
#enter h3{
    color: #EF8743;
    margin-bottom: 20px;
}
#enter #noway p{
    color: #5d5959;
    margin-bottom: 20px;
}
#noway .btn{
    width: 106px;
    height: 42px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius:10px;
    display:block;
}
#noway a{
    margin-left: 575px;
    line-height: 42px;
    text-align: center;
}
#noway .btn:hover{
    background: #EF8743;
    border-color: #EF8743;
    color: #ffffff;
}
/*enter结束*/




/*footer开始*/
#footer{
    /*margin-top: 600px;*/
    background: hotpink;
    height: 82px;
    line-height: 82px;
}
#footer h3,#footer h4{
    color: #ffffff;
}
#footer h3{
    float: left;
}
#footer h4{
    float: right;
}

/*footer结束*/