/*main-header 开始*/
/*******************************************************************************************/

#header a{
    color: #ffffff;
}
#login, #header h1{
    color: #fff;
    width: 380px;
}
#cart.float{
    width: 200px;
    height: 30px;
    background: grey;
    opacity: 0.5;/*透明度取值范围0-1*/
    filter: alpha(opacity=50);/*ie下透明度取值范围0-100*/
    color: #ffffff;
    text-align: center;/*文字居中*/
    padding: 10px 10px;
    cursor: pointer;/*光标 鼠标变成小手*/
    margin-top: 25px;
    line-height: 0;
    float: left;
}

#header #cart.float{
    float: right;
}

#header img{
    vertical-align: middle;/*设置图片*/
}
#header .float{
    float: left;
}
#header h1.float{
    text-align: center;
}
#main-header{
    height: 100px;
    line-height: 100px;
    position: relative;
}

#login a:hover{
    text-decoration: underline;
}
#main-header p{
    color: #fff;
    position: absolute;
    right: 70px;
    top: 75px;
    height: 25px;
    line-height: 25px;
}
/*******************************************************************************************/
/*main-header 结束*/

/*nav begin*/
/*******************************************************************************************/
#nav li{
    float: left;
    width: 190px;
    background: #fa558f;
    height: 40px;
    text-align: center;
    line-height: 40px;

}
#nav li:hover{
    background: #3c3b3b;
}
#nav a{
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: block;
}
#nav .selected{
    background: #3c3b3b;
}
.submenu{
    width: 1140px;
    height: 300px;
    background: #ffffff;
    display: none;
}

#nav .makeup-shop:hover .submenu{
    display: block;

}
.submenu.one{
    margin-left: -190px;
}
.submenu.two{
    margin-left: -380px;
}
.submenu.three{
    margin-left: -570px;
}
.submenu.four{
    margin-left: -760px;
}
.submenu.five{
    margin-left: -950px;
}
/*******************************************************************************************/
/*nav over*/
/*footer开始*/
#footer{
    margin-top: 0px;
    background: hotpink;
    height: 82px;
    line-height: 82px;
}
#footer h3,#footer h4{
    color: #ffffff;
}
#footer h3{
    float: left;
}
#footer h4{
    float: right;
}

/*footer结束*/

#products{
    height: 1038px;
    margin-top: 50px;
}
#menu{
    width: 240px;
}
#menu h4{
    background: #464646;
    width: 230px;
    height: 35px;
    color: #fff;
    line-height: 35px;
    padding-left: 10px;
}
#menu li{
    width: 230px;
    height: 35px;
    background: #f9f9f9;
    padding-left: 10px;
    color: #8c8c8c;
    margin-top: 10px;
    line-height: 35px;
    position: relative;
    cursor: pointer;
}
#menu li img{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}
#brand label{
    display: block;
    color: #555555;
    margin-left: 20px;
    margin-top: 2px;
    cursor: pointer;
}
#brand label input{
    margin-right: 5px;
}
#sell{
    width: 800px;
    margin-left: 50px;
}
#sell .sell-products{
    width: 248px;
    height: 456px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
#sell .sell-products img{
    width: 248px;
    height: 248px;
    display: block;
}
#sell .product-detail{
    background: #fcf9ff;
    height: 198px;
    padding-top: 10px;
    padding-left: 10px;
}
#sell .add{
    width: 150px;
    height: 50px;
    background: orange;
    color: #ffffff;
    border: 0;
    margin-top: 5px;
    font-size: 20px;
    outline: none;
}
#sell input{
    width: 150px;
    height: 30px;
    text-indent: 10px;
    outline: none;
}
#sell{
    float: right;
}
#menu{
    float: left;
}